<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOLOv8 Object Detection</title>
</head>
<body>
    <h1>Swimming Pool Podoli</h1>
    <p>Number of people detected: <span id="people-count">{{ people_count }}</span></p>
    <video width="640" height="480" controls>
        <source src="/video" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <script>
        function updatePeopleCount() {
            fetch('/get_people_count')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('people-count').textContent = data.people_count;
                })
                .catch(error => console.error('Error fetching people count:', error));
        }

        // Update people count every 5 seconds
        setInterval(updatePeopleCount, 5000);
    </script>
</body>
</html>
